* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 500px;
    background-color:aquamarine;
    overflow-y: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
form > .container {
    display: flex;
    gap: 10px;
    overflow: visible;
    position: sticky;
    top: -1rem;
    background-color: aquamarine;
}
.added .new {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-height: 300px;
    overflow: auto;
    transition: ease-in-out .5s;
}
.added .new p {
    padding: 0 0 0 10px;
}
input[type=checkbox] {
    height: 15px;
    width: 15px;
}



/* @media only screen and (max-width: 600px) {
    .added .new {
        flex-direction: column;
        width: 100%;
    }
} */
